version: "3.9"

services:
  changedetection:
    container_name: changedetection
    image: ghcr.io/dgtlmoon/changedetection.io:0.53.6@sha256:928ec9ddf0be01dfe7ce390d3ece5c5d03d774407c8af37e41f2b780503e972a
    restart: unless-stopped
    depends_on:
      changedetection_playwright:
        condition: service_started
    environment:
      - BASE_URL=https://${CHANGEDETECTION_HOST}
      - PLAYWRIGHT_DRIVER_URL=ws://changedetection_playwright:3000/?stealth=1&--disable-web-security=true
      - HIDE_REFERER=true
    volumes:
      - ./datastore:/datastore
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.changedetection.loadbalancer.server.port=5000"
      - "traefik.http.routers.changedetection.service=changedetection"
      - 'traefik.http.routers.changedetection.rule=Host("$CHANGEDETECTION_HOST")'
      - "traefik.http.routers.changedetection.tls=true"
      - "traefik.http.routers.changedetection.entrypoints=websecure"
      - "traefik.http.routers.changedetection.middlewares=authelia@docker"
    networks:
      - web_proxy
      - changedetection
    # No healthcheck because no curl or wget


  changedetection_playwright:
    container_name: changedetection_playwright
    image: docker.io/browserless/chrome:1.61.1-chrome-stable@sha256:efac47cfff3830d9a50b27d29f8bbb61949058ae336c823fbe9bd3c0d1debcc8
    restart: unless-stopped
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_BLOCK_ADS=true
      - DEFAULT_STEALTH=true
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
    networks:
      - changedetection
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:3000"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

networks:
  web_proxy:
    external: true
  changedetection:
    driver: bridge
