version: "3.9"

services:
  firefly_iii_db:
    image: docker.io/linuxserver/mariadb:10.11.10@sha256:118e71fcfca80622241c1d188b1ca0410672149ff1e028b360d51683efeea620
    container_name: firefly_iii_db
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${FIREFLY_III_DB_ROOT_PASSWORD}
      - MYSQL_USER=firefly_iii
      - MYSQL_PASSWORD=${FIREFLY_III_DB_PASSWORD}
      - MYSQL_DATABASE=firefly_iii
    volumes:
      - ./db:/config
    restart: unless-stopped
    networks:
      - firefly_iii
    healthcheck:
      test: ["CMD-SHELL", "mysql -u $${MYSQL_USER} -p$${MYSQL_PASSWORD} -e 'SELECT 1'"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s

  firefly_iii_db_dumper:
    image: docker.io/paolobasso/database_dumper:mariadb
    restart: unless-stopped
    depends_on:
      - firefly_iii_db
    container_name: firefly_iii_db_dumper
    volumes:
      - ./db_dumps:/dumps
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - DUMPER_DATABASE=firefly_iii
      - DUMPER_HOST=firefly_iii_db
      - DUMPER_USER=firefly_iii
      - DUMPER_PASSWORD=${FIREFLY_III_DB_PASSWORD}
      - DUMPER_HEALTHCHECKS_URL=${FIREFLY_III_DB_DUMPER_HEALTHCHECKS_URL}
    networks:
      - firefly_iii

  firefly_iii:
    image: docker.io/fireflyiii/core:version-6.0.26@sha256:bb046f374823f110ba981c5a9088eb2a6a924514b7c43e94dbe645ea9c9a2578
    container_name: firefly_iii
    depends_on:
      - firefly_iii_db
    environment:
      - TZ=${TZ}
      - SITE_OWNER=${FIREFLY_III_OWNER_EMAIL}
      - APP_KEY=${FIREFLY_III_APP_KEY}
      - DB_CONNECTION=mysql
      - DB_HOST=firefly_iii_db
      - DB_PORT=3306
      - DB_DATABASE=firefly_iii
      - DB_USERNAME=firefly_iii
      - DB_PASSWORD=${FIREFLY_III_DB_PASSWORD}
      - MAIL_MAILER=mailgun
      - MAIL_FROM=${FIREFLY_III_MAIL_FROM}
      - MAILGUN_DOMAIN=${FIREFLY_III_MAILGUN_DOMAIN}
      - MAILGUN_SECRET=${FIREFLY_III_MAILGUN_SECRET}
      - MAILGUN_ENDPOINT=${FIREFLY_III_MAILGUN_ENDPOINT}
      - MAPBOX_API_KEY=${FIREFLY_III_MAPBOX_API_KEY}
      - TRUSTED_PROXIES=**
      - APP_URL=https://${FIREFLY_III_HOST}
      - STATIC_CRON_TOKEN=${FIREFLY_III_STATIC_CRON_TOKEN}
    volumes:
      - ./upload:/var/www/html/storage/upload
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.firefly_iii.loadbalancer.server.port=8080"
      - "traefik.http.routers.firefly_iii.service=firefly_iii"
      - "traefik.http.routers.firefly_iii.tls=true"
      - "traefik.http.routers.firefly_iii.entrypoints=websecure"
      - 'traefik.http.routers.firefly_iii.rule=Host("$FIREFLY_III_HOST")'
      - "traefik.http.routers.firefly_iii.middlewares=authelia@docker"
    networks:
      - web_proxy
      - firefly_iii
    # No healthcheck because already present in Dockerfile

  firefly_iii_cron:
    image: docker.io/library/alpine:3.23.3@sha256:eb37f58646a901dc7727cf448cae36daaefaba79de33b5058dab79aa4c04aefb
    restart: unless-stopped
    depends_on:
      - firefly_iii
    container_name: firefly_iii_cron
    command: sh -c "echo \"0 3 * * * wget -qO- http://firefly_iii:8080/api/v1/cron/${FIREFLY_III_STATIC_CRON_TOKEN}\" | crontab - && crond -f -L /dev/stdout"
    networks:
      - firefly_iii
    healthcheck:
      test: ["CMD-SHELL", "crontab -l | grep wget"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

networks:
  web_proxy:
    external: true
  firefly_iii:
    driver: bridge
