:80

@plausible path {$PLAUSIBLE_PROXY_SCRIPT_DEST:/script.js} /api/event
handle @plausible {
  rewrite {$PLAUSIBLE_PROXY_SCRIPT_DEST:/script.js} {$PLAUSIBLE_PROXY_SCRIPT_ORIGIN:/js/plausible.outbound-links.js}
  reverse_proxy {$PLAUSIBLE_BASE_URL} {
    header_up Host {http.reverse_proxy.upstream.hostport}
  }
}

respond 404