version: "3.9"

services:
  shlink_db:
    image: docker.io/library/postgres:15.15-alpine@sha256:1d1095b0503145be79c79239372aefadfacf6b7c33c9245bbf99ce4b6b89c737
    restart: unless-stopped
    container_name: shlink_db
    # See: https://github.com/docker-library/docs/blob/master/postgres/README.md#arbitrary---user-notes
    user: "${PUID}:${PGID}"
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=shlink
      - POSTGRES_USER=shlink
      - POSTGRES_PASSWORD=${SHLINK_DB_PASSWORD}
    networks:
      - shlink
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s

  shlink_db_dumper:
    image: docker.io/paolobasso/database_dumper:postgres-15
    restart: unless-stopped
    depends_on:
      - shlink_db
    container_name: shlink_db_dumper
    volumes:
      - ./db_dumps:/dumps
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - DUMPER_DATABASE=shlink
      - DUMPER_HOST=shlink_db
      - DUMPER_USER=shlink
      - DUMPER_PASSWORD=${SHLINK_DB_PASSWORD}
      - DUMPER_HEALTHCHECKS_URL=${SHLINK_DB_DUMPER_HEALTHCHECKS_URL}
    networks:
      - shlink

  shlink_client:
    image: docker.io/shlinkio/shlink-web-client:4.6.2@sha256:93d4c24ca33d856e8e8076232eed6f5e5b01c70d705fdeae63fc7ae4034ea07d
    container_name: shlink_client
    depends_on:
      - shlink_db
      - shlink_server
    environment:
      - SHLINK_SERVER_URL=https://${SHLINK_SERVER_HOST}
      - SHLINK_SERVER_API_KEY=${SHLINK_SERVER_API_KEY}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.shlink_client.middlewares=authelia@docker"
      - "traefik.http.routers.shlink_client.service=shlink_client"
      - 'traefik.http.routers.shlink_client.rule=Host("$SHLINK_CLIENT_HOST")'
      - "traefik.http.routers.shlink_client.tls=true"
      - "traefik.http.routers.shlink_client.entrypoints=websecure"
      - "traefik.http.services.shlink_client.loadbalancer.server.port=80"
    networks:
      - web_proxy
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:80"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

  shlink_server:
    image: docker.io/shlinkio/shlink:3.7.4-non-root@sha256:b6553353135346c094e116207fca14fb4d5ce91468e657af92e3e9e730d579e7
    container_name: shlink_server
    depends_on:
      - shlink_db
    environment:
      - DEFAULT_DOMAIN=${SHLINK_SERVER_HOST}
      - IS_HTTPS_ENABLED=true
      - DEFAULT_BASE_URL_REDIRECT=${SHLINK_DEFAULT_BASE_URL_REDIRECT}
      - GEOLITE_LICENSE_KEY=${SHLINK_GEOLITE_LICENSE_KEY}
      - DB_DRIVER=postgres
      - DB_NAME=shlink
      - DB_USER=shlink
      - DB_PASSWORD=${SHLINK_DB_PASSWORD}
      - DB_HOST=shlink_db
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.shlink_server.loadbalancer.server.port=8080"
      - "traefik.http.routers.shlink_server.service=shlink_server"
      - 'traefik.http.routers.shlink_server.rule=Host("$SHLINK_SERVER_HOST")'
      - "traefik.http.routers.shlink_server.tls=true"
      - "traefik.http.routers.shlink_server.entrypoints=websecure"
    networks:
      - web_proxy
      - shlink
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8080/rest/health"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

networks:
  web_proxy:
    external: true
  shlink:
    driver: bridge
