version: "3.9"

services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
    container_name: recyclarr
    user: ${PUID}:${PGID}
    environment:
      - SONARR_API_KEY=${SONARR_API_KEY}
      - RADARR_API_KEY=${RADARR_API_KEY}
    volumes:
      - ./config:/config
    restart: unless-stopped
    networks:
      - torrent

networks:
  torrent:
    external: true
