version: "3.9"

services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.5.1@sha256:0730f39efc23c6410c46f9bf1884149c986f300bb60f66f3c5d6dbcb67a08901
    container_name: recyclarr
    user: ${PUID}:${PGID}
    environment:
      - SONARR_API_KEY=${SONARR_API_KEY}
      - RADARR_API_KEY=${RADARR_API_KEY}
    volumes:
      - ./config:/config
    restart: unless-stopped
    networks:
      - torrent

networks:
  torrent:
    external: true
