version: "3.9"

services:
  radarr:
    image: docker.io/linuxserver/radarr:version-5.0.3.8127@sha256:ba539d5ea0c4c0230e28b2ad0c4861d8a1c1c03c4444d6c9f6bca8bab85e063f
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config:/config
      - ${RADARR_DOWNLOADS_PATH}:/downloads:rw,rslave
      - ${RADARR_MOVIES_PATH}:/movies:rw,rslave
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr.service=radarr"
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - 'traefik.http.routers.radarr.rule=Host("$RADARR_HOST")'
      - "traefik.http.routers.radarr.middlewares=authelia@docker"
    networks:
      - web_proxy
      - torrent
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:7878/login"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

networks:
  web_proxy:
    external: true
  torrent:
    external: true
