version: "3.9"

services:
  immich_db:
    image: docker.io/library/postgres:15.4-alpine@sha256:35ce2187f2f7fb75e8e79493e13743596c21eb3789ff41ece145ae04d06e93a5
    restart: unless-stopped
    container_name: immich_db
    # See: https://github.com/docker-library/docs/blob/master/postgres/README.md#arbitrary---user-notes
    user: "${PUID}:${PGID}"
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=immich
      - POSTGRES_USER=immich
      - POSTGRES_PASSWORD=${IMMICH_DB_PASSWORD}
    networks:
      - immich
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s

  immich_db_dumper:
    image: docker.io/paolobasso/database_dumper:postgres-15
    restart: unless-stopped
    depends_on:
      - immich_db
    container_name: immich_db_dumper
    volumes:
      - ./db_dumps:/dumps
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - DUMPER_DATABASE=immich
      - DUMPER_HOST=immich_db
      - DUMPER_USER=immich
      - DUMPER_PASSWORD=${IMMICH_DB_PASSWORD}
      - DUMPER_HEALTHCHECKS_URL=${IMMICH_DB_DUMPER_HEALTHCHECKS_URL}
    networks:
      - immich

  immich_server:
    image: ghcr.io/immich-app/immich-server:v1.83.0@sha256:76e78d66ff56ad1e377edfcbec079ae506e8b25b89d075d3a2de2ff2f93b882a
    container_name: immich_server
    command: ["start.sh", "immich"]
    depends_on:
      - immich_db
      - immich_redis
    environment:
      - IMMICH_MACHINE_LEARNING_ENABLED=false
      - DB_HOSTNAME=immich_db
      - DB_USERNAME=immich
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_DATABASE_NAME=immich
      - DB_PORT=5432
      - REDIS_HOSTNAME=immich_redis
      - REDIS_PORT=6379
      - TYPESENSE_ENABLED=false
    volumes:
      - ${IMMICH_UPLOAD_PATH}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.immich_server.loadbalancer.server.port=3001"
      - "traefik.http.middlewares.immich_server.stripprefix.prefixes=/api/"
      - "traefik.http.routers.immich_server.service=immich_server"
      - "traefik.http.routers.immich_server.tls=true"
      - "traefik.http.routers.immich_server.entrypoints=websecure"
      - 'traefik.http.routers.immich_server.rule=Host(`${IMMICH_HOST}`) && PathPrefix("/api/")'
      - "traefik.http.routers.immich_server.middlewares=immich_server"
    networks:
      - immich
      - web_proxy
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:3001/server-info/ping"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

  immich_microservices:
    image: ghcr.io/immich-app/immich-server:v1.83.0@sha256:76e78d66ff56ad1e377edfcbec079ae506e8b25b89d075d3a2de2ff2f93b882a
    container_name: immich_microservices
    command: ["start.sh", "microservices"]
    volumes:
      - ${IMMICH_UPLOAD_PATH}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    environment:
      - IMMICH_MACHINE_LEARNING_ENABLED=false
      - DB_HOSTNAME=immich_db
      - DB_USERNAME=immich
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_DATABASE_NAME=immich
      - DB_PORT=5432
      - REDIS_HOSTNAME=immich_redis
      - REDIS_PORT=6379
      - TYPESENSE_ENABLED=false
    depends_on:
      - immich_db
      - immich_redis
    restart: unless-stopped
    networks:
      - immich

  immich_web:
    container_name: immich_web
    image: ghcr.io/immich-app/immich-web:v1.82.1@sha256:b59ec80d45a9395f020c312868abd08eafbfe3594e83955d7e566096309f0f2f
    depends_on:
      - immich_server
      - immich_redis
      - immich_db
    environment:
      - IMMICH_SERVER_URL=http://immich_server:3001
      - PUBLIC_IMMICH_SERVER_URL=http://immich_server:3001
      - IMMICH_API_URL_EXTERNAL=/api
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immich_web.service=immich_web"
      - "traefik.http.routers.immich_web.tls=true"
      - "traefik.http.routers.immich_web.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.immich_web.entrypoints=websecure"
      - "traefik.http.routers.immich_web.rule=Host(`${IMMICH_HOST}`)"
      - "traefik.http.services.immich_web.loadbalancer.server.port=3000"
      - "traefik.http.routers.immich_web.middlewares=authelia@docker"
    networks:
      - immich
      - web_proxy
    healthcheck:
      test: ["CMD", "wget", "-q", "--no-verbose", "--tries", "1", "--spider", "--timeout", "2", "http://localhost:3000"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

  immich_redis:
    image: docker.io/library/redis:7.2.2-alpine@sha256:2d44eb73209e5af4118de67e89b01709bfec7cc5a4c1cec29665f6d011c70783
    container_name: immich_redis
    restart: unless-stopped
    networks:
      - immich
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s

networks:
  web_proxy:
    external: true
  immich:
    driver: bridge
