version: "3.9"

services:
  radicale:
    image: docker.io/tomsquest/docker-radicale:3.6.0.0@sha256:4d46a338ae083db37418eb979e91c2ccfb0c7ef632ab9311b0ef54a41042f064
    container_name: radicale
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      - KILL
    security_opt:
      - no-new-privileges:true
    init: true
    read_only: true
    restart: unless-stopped
    volumes:
      - ./config:/config:ro
      - ./data:/data
    environment:
      - TZ=${TZ}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.radicale.loadbalancer.server.port=5232"
      - "traefik.http.routers.radicale.service=radicale"
      - "traefik.http.routers.radicale.tls=true"
      - "traefik.http.routers.radicale.entrypoints=websecure"
      - 'traefik.http.routers.radicale.rule=Host("$RADICALE_HOST")'
    networks:
      - web_proxy
    # No healthcheck because already present in Dockerfile

networks:
  web_proxy:
    external: true
