PUID=1000
PGID=1000
TZ=Europe/Rome

# echo $(htpasswd -nbB <USER> "<PASSWORD>")
MORTY_USER_PASSWORD=
# openssl rand -base64 33
MORTY_KEY=

MORTY_SOCKS5_USERNAME=
MORTY_SOCKS5_PASSWORD=
MORTY_SOCKS5_HOST=proxy.torguard.org
MORTY_SOCKS5_PORT=1085