version: "3.9"

services:
  homer:
    image: docker.io/b4bz/homer:v23.09.1@sha256:95e735630d213a3a92dee99988b8a6e243ea046fd89d345e53b4c37383c1bd37
    container_name: homer
    volumes:
      - ./assets:/www/assets
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.homer.loadbalancer.server.port=8080"
      - "traefik.http.routers.homer.service=homer"
      - "traefik.http.routers.homer.tls=true"
      - "traefik.http.routers.homer.entrypoints=websecure"
      - 'traefik.http.routers.homer.rule=Host("$HOMER_HOST")'
      - "traefik.http.routers.homer.middlewares=authelia@docker"
    networks:
      - web_proxy

networks:
  web_proxy:
    external: true
