version: "3.9"

services:
  jellyfin:
    image: docker.io/jellyfin/jellyfin:10.8.11@sha256:381e1b4cab1a197fde7ce2d029c0907a4307ef7d0d18695258609375defa22f9
    container_name: jellyfin
    user: ${PUID}:${PGID}
    environment:
      - JELLYFIN_PublishedServerUrl=https://${JELLYFIN_HOST}
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ${JELLYFIN_MOVIES_PATH}:/movies:rw,rslave
      - ${JELLYFIN_TV_PATH}:/tv:rw,rslave
      - ${JELLYFIN_MUSIC_PATH}:/music:rw,rslave
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.service=jellyfin"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - 'traefik.http.routers.jellyfin.rule=Host("$JELLYFIN_HOST")'
    #      - "traefik.http.routers.jellyfin.middlewares=authelia@docker"
    networks:
      - web_proxy
      - torrent

networks:
  web_proxy:
    external: true
  torrent:
    external: true
