version: "3.9"

services:
  bazarr:
    image: docker.io/linuxserver/bazarr:1.5.3@sha256:4aa1e82d1e96ae712095d881b7e3840e6db6ca862c335be5b00001f31156650b
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config:/config
      - ${BAZARR_MOVIES_PATH}:/movies:rw,rslave
      - ${BAZARR_TV_PATH}:/tv:rw,rslave
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.http.routers.bazarr.service=bazarr"
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - 'traefik.http.routers.bazarr.rule=Host("$BAZARR_HOST")'
      - "traefik.http.routers.bazarr.middlewares=authelia@docker"
    networks:
      - web_proxy
      - torrent
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:6767"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

networks:
  web_proxy:
    external: true
  torrent:
    external: true
