version: "3.9"

services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.4@sha256:06c76759d062c185d8ac0b48f302258645b8d99db86109a3d6dce3209d93de51
    container_name: flaresolverr
    user: ${PUID}:${PGID}
    environment:
      - TZ=${TZ}
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    networks:
      - torrent
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8191"]
      start_period: 20s
      interval: 30s
      timeout: 5s
      retries: 5

networks:
  torrent:
    external: true
